.input-box {
  width: 330px;
  box-sizing: border-box;
}

img {
  width: 35px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.input-box header {
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}

.input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}

.input-box .input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
}

.input-field input:focus ~ label {
  top: -10px;
  font-size: 13px;
}

.input-field input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}

.input-field .input:focus, .input-field .input:valid {
  border-bottom: 1px solid #743ae1;
}

.signin {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}

span a {
  text-decoration: none;
  font-weight: 700;
  color: #2541fe;
  transition: .5s;
}

  span a:hover {
      text-decoration: underline;
      color: #000;
  }

@media only screen and (max-width: 768px) {
  .side-image {
      border-radius: 10px 10px 0 0;
      height: 100%;
      width: 100%
  }


  .text {
      position: absolute;
      top: 70%;
      text-align: center;
  }

      .text p, i {
          font-size: 16px;
      }

  .row {
      max-width: 420px;
      width: 100%;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 19px;
  font-size: 1rem;
  line-height: 0.5;
  color: #475F7B;
  background-color: #FFF;
  border: 1.5px solid #DFE3E7;
  border-radius: .267rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

  .form-control:focus {
      color: #475F7B;
      background-color: #FFF;
      border-color: #5A8DEE;
      outline: 0;
      box-shadow: 0 3px 8px 0 rgb(0 0 0 / 40%);
  }

#h1 {
  text-shadow: 0px 4px 10px rgba(51, 153, 102, 0.8) !important;
  font-size: 55px;
}

.btn-primary:hover {
  background-color: #0048b8 !important;
  border-color: #0048b8 !important;
}

.bg-custom-color {
  background-color: lightcyan!important; /* Replace with your desired color code */
}

.right-align {
  margin-left: auto;
  display: flex;
  gap: 10px; /* Adjust the gap between buttons as needed */
}

.bg-custom-color-nav {
  background-color: whitesmoke!important; /* Replace with your desired color code */
}